.hero-section {
  min-height: 100vh;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  overflow: hidden;
  color: white;
}

.hero-content {
  position: relative;
  z-index: 2;
  max-width: 900px;
  margin-top: 15vh;
}

.trusted-pill {
  display: inline-block;
  background: rgba(255, 255, 255, 0.118);
  color: white;
  padding: 6px 20px;
  border-radius: 50px;
  font-size: 0.9rem;
  font-weight: 500;
  border: rgba(255, 255, 255, 0.662) 2px solid;
}

.hero-title {
  font-family: "Satoshi", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.3;
}

.hero-subtitle {
  font-size: 1.1rem;
  max-width: 700px;
  color: rgba(255, 255, 255, 0.85);
}

.getstarted-btn {
  font-size: 0.8rem;
  font-weight: 600;
  background: linear-gradient(
    to right,
    rgba(175, 84, 221, 1),
    rgba(118, 23, 167, 1)
  );
  color: white !important;
  border: none;
  padding: 5px 10px;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.getstarted-btn:hover {
  opacity: 0.9;
  transform: translateY(-2px);
}

.hero-btn {
  font-size: 1rem;
  padding: 10px 20px;
  border-radius: 10px;
  margin-top: 15px;
}

.hero-image {
  position: relative;
  z-index: 1;
}

.hero-image img {
  border: 1px solid rgba(175, 84, 221, 1);
  padding: 10px;
  width: 100%;
  margin-top: 10px;
  border-radius: 16px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.4);
}
